
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

.cards{
    display: flex;
    width: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cards .card{
    background-color: #4531b1;
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: -20px 0 10px rgba(0, 0, 0, 0.3), -30px 0 10px rgba(0, 0, 0, 0.2), -40px 0 10px rgba(0, 0, 0, 0.1);

        
}




.cards .card a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}

.cards .card a:hover{
    color: lightyellow;
   

}

.cards .card .header{
   
flex: 1;
}

.cards .card:hover{
 
    margin-right: 70px;
    transform: rotate(-3deg) translateY(-100px);

}

.cards .element-1{
    background-color: #a836ad;
    transform: translateY(-2px);
    

}

.cards .element-2{
    background-color: #f16896;
    transform: translateY(-5px);
}

.cards .element-3{
    background-color: #ecce6d;
    transform:translateY(-10px);
}
.cards .element-4{
    background-color: #ffa258;
    transform:  translateY(-15px);
 
}





cards .card .header .date{
   padding: 10px 0;
    }

    
.cards .card .header .title{
    font-size: 29px;


     }
     .cards .card .footer .autor a{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
         }

     .cards .card .footer img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    
    
         }

     .cards .card[class*="element"]{
        margin-left: -100px;
     }
     .element-1:hover {
        margin-left: -130px;
     }

